<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>156961743886-08r4gscfqdcdld5mmusdfvn1q4mfrs0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156961743886-08r4gscfqdcdld5mmusdfvn1q4mfrs0a</string>
	<key>API_KEY</key>
	<string>AIzaSyBVwH8euEoy1Od2NH3PT_OQCbMbXquA-vM</string>
	<key>GCM_SENDER_ID</key>
	<string>156961743886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.swcbba.checkin</string>
	<key>PROJECT_ID</key>
	<string>check-in-8b949</string>
	<key>STORAGE_BUCKET</key>
	<string>check-in-8b949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156961743886:ios:fbb70e564bfbbe0b</string>
	<key>DATABASE_URL</key>
	<string>https://check-in-8b949.firebaseio.com</string>
</dict>
</plist>